<div class="card mb-5">
    <div class="card-body px-0 py-0">

        <table class="table table-striped table-hover pb-0 w-100 h-100">
            <thead>
                <tr class="text-center">
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Local</th>
                    <th scope="col">Renda</th>
                    <th scope="col">Status</th>
                    <th scope="col">Alterar Status</th>
                    <th scope="col">Remover</th>
                    <th scope="col">Alterar Cliente</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <th scope="row" var="id">{{cliente.id}}</th>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.cpf}}</td>
                    <td>{{cliente.telefone}}</td>
                    <td>{{cliente.local}}</td>
                    <td>{{cliente.renda}}</td>
                    <td>{{cliente.status}}</td>
                    <td>
                        <button class="btn btn-secondary text-white w-100 h-100" type="button"
                            (click)="atualizaStatusCliente(cliente)">
                            <span *ngIf="cliente.status == 'SUSPENSO'">Ativar</span>
                            <span *ngIf="cliente.status == 'ATIVO'">Suspender</span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger text-white w-100 h-100" type="button"
                            (click)="deleteCliente(cliente)">Remover</button>
                    </td>
                    <td>
                        <button class="btn btn-primary text-white w-100 h-100" role="button">Alterar Cliente</button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
    <div class="card-footer">
        <ec-pagination-button (click)="load()" [hasMore]="hasMore"></ec-pagination-button>
    </div>
</div>