<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between p-3">
        <div class="container-fluid">
            <a class="navbar-brand fs-3" href="">EasyCharge</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link fs-5 active" aria-current="page" href="/clientes/lista">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" aria-current="page" href="/dividas/lista">Dividas</a>
                    </li>
                </ul>
            </div>
            <a class="nav-item" href="/clientes/formulario">
                <button type="button" class="btn btn-outline-light fs-5">Novo Cliente</button>
            </a>
        </div>
    </nav>
</header>