<div class="body--color">
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between p-3">
            <div class="container-fluid">
                <a class="navbar-brand fs-3" href="">EasyCharge</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link fs-5 active" aria-current="page" href="/clientes/lista">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-5" aria-current="page" href="">Dividas</a>
                        </li>
                    </ul>
                </div>
                <a class="nav-item" href="/clientes/formulario">
                    <button type="button" class="btn btn-outline-light fs-5">Novo Cliente</button>
                </a>
            </div>
        </nav>
    </header>

    <main class="container-fluid">
        <h1 class="text-center my-5">Lista de Clientes</h1>

        <div class="card mb-5">
            <div class="card-body px-0 py-0">
                <table class="table table-striped table-hover pb-0 w-100 h-100">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Local</th>
                            <th scope="col">Renda</th>
                            <th scope="col">Status</th>
                            <th scope="col">Alterar Status</th>
                            <th scope="col">Remover</th>
                            <th scope="col">Alterar Cliente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of clientes">
                            <th scope="row" var="id">{{cliente.id}}</th>
                            <td>{{cliente.nome}}</td>
                            <td>{{cliente.cpf}}</td>
                            <td>{{cliente.telefone}}</td>
                            <td>{{cliente.local}}</td>
                            <td>{{cliente.renda}}</td>
                            <td>{{cliente.status}}</td>
                            <td>
                                <a class="btn btn-secondary text-white w-100 h-100" role="button">
                                    <span *ngIf="cliente.status == 'SUSPENSO'">Ativar</span>
                                    <span *ngIf="cliente.status == 'ATIVO'">Suspender</span>
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-danger text-white w-100 h-100" type="button" (click)="deleteCliente(cliente)">Remover</button>
                            </td>
                            <td>
                                <a class="btn btn-primary text-white w-100 h-100" role="button">Alterar Cliente</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>