/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100% !important;
}

body {
  background-color: gainsboro !important;
}

header {
  font-family: 'Montserrat', sans-serif;
}

main {
  font-family: 'Open Sans', sans-serif;
}

tr th,
td {
  text-align: center;
  vertical-align: middle;
}