/* You can add global styles to this file, and also import other style files */
body {
    background-color: gainsboro;
  }

  header {
    font-family: 'Montserrat', sans-serif;
  }

  main {
    font-family: 'Open Sans', sans-serif;
  }

  tr th,
  td {
    text-align: center;
    vertical-align: middle;
  }